{% extends "base.html" %}
{% block content %}
<h2>Wybierz dzień pomiarów</h2>
<div 
    id="chosen-day"
    data-day-url = "{{ url_for('get_days_api') }}">
</div>

{% endblock %}
{% block scripts %}
  {# Wczytaj wszystkie pliki CSS z manifestu #}
  {% for css in react_css %}
    <link rel="stylesheet" href="{{ url_for('static', path='react/' + css) }}">
  {% endfor %}

  {# Wczytaj plik JS React #}
  <script type="module" src="{{ url_for('static', path='react/' + react_js) }}"></script>
{% endblock %}